body { padding-top: 50px; }
h1.navbar-brand { margin: 0px; }
.navbar-right { padding-right: 30px; }
.row h2 { padding-left: 30px; }
.munin_plugin { position: relative; white-space: nowrap; overflow: visible; }
.graph_wrapper { display: inline-block; position: relative; overflow: hidden; }
.graph_wrapper img { width: 100%; }
.category { background-color: #F0F0F0; }
.category h2 { font-size: 14px; }
footer { text-align: center; }